@{
    ViewData["Title"] = "Tất Cả Học Sinh";
    Layout = "_Layout";
}
<body class="bg-theme bg-theme9">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <div id="wrapper">


        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                
            </div><div class="wrapper">

                      <div ng-app="myApp" ng-controller="myCtrl">
                          <table border="1">
                              <tr>
                                  <th>Họ và tên</th>
                                  <th>Năm sinh</th>
                                  <th>Giới tính</th>
                                  <th>Quê quán</th>
                              </tr>
                              <tr>
                                  <td>Nguyễn Thành A</td>
                                  <td>1993</td>
                                  <td>Nam</td>
                                  <td>Cần Thơ</td>
                              </tr>
                              </table>
                              <div ng-repeat="x in myWelcome">
                                  <span><a>{{x.fisrtName}}</a></span>


                              </div>


                              <!-- End container-fluid-->

</div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--End wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>

        <!-- simplebar js -->
        <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
        <!-- sidebar-menu js -->
        <script src="~/assets/js/sidebar-menu.js"></script>
        <!-- loader scripts -->
        <script src="~/assets/js/jquery.loading-indicator.js"></script>
        <!-- Custom scripts -->
        <script src="~/assets/js/app-script.js"></script>
        <!-- Chart js -->

        <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>

        <!-- Index js -->
        <script src="~/assets/js/index.js"></script>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope, $http) {
                $scope.myWelcome = [];
                $http({
                    method: "GET",
                    url: "https://localhost:44300/api/Students/GetAllStudents"
                }).then(function mySuccess(response) {
                    $scope.myWelcome = response.data.data;
                });
            });
        </script>

</body>